.weather-container{
    background: #cdd; 
    text-align: center;
    
}
.weather{
    font-size: 15px;
    margin: 0;
    
    
    
}
.temp{
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    text-align: center;
    
}
